name: autofix.ci

on:
  workflow_dispatch:

jobs:

 autofix-ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: autofix-ci/action@635ffb0c9798bd160680f18fd73371e355b85f27
        with:
          commit-message: "chore: apply automatic fixes"
